{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block title %}édition de post{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {# Specific padding for this page as there is very few content#}
        body {
            padding-top: 120px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}

    <center>

    </center>

    <div class="row post-editor" id={{post.id}}>
        <div class="span2" style="text-align: center;">
            {% if post.published == true %}
                <h4>{{ post.date | localeDate('medium','none',null,'dd MMMM Y') }}</h4>
                <span class="label label-success">publié</span>
            {% else %}
                <h4>Aujourd'hui</h4>
                <span class="label label-warning">non publié</span>
            {% endif %}
            <br /><br />
            <img id="loading-wheel" src="{{ asset('/css/icons/loading.gif')}}" style="display: none"/>
        </div>
        <div class="span9">
            <form method="post" action="#" id="{{ post.id }}">
                {% if post.published == true %}
                    <div class="btn btn-danger pull-left" id="delete-button"><i class="icon-trash icon-white" id="delete-icon"></i> Supprimer</a></div>
                    <div class="btn btn-success pull-right" id="publish-button"><i class="icon-download icon-white" id="publish-icon"></i> Mettre à jour</div>
                {% else %}
                    <div class="btn" id="save-button"><i class="icon-download" id="save-icon"></i> Garder comme brouillon</div>
                    <div class="btn btn-success pull-right" id="publish-button"><i class="icon-ok icon-white" id="publish-icon"></i> Publier</div>
                {% endif %}
                <br /><br />
                <textarea style="width: 100%" id="edit-area" rows="10">{{ post.content }}</textarea>
            </form>
        </div>
    </div>
    
    <center>
        <button class="btn btn-primary" id="add-image-button" >
            <i class="icon-picture icon-white"></i> Ajouter une photo
        </button>
        <form action="{{ path('add_image') }}" id="image-upload-form" method="post" {{ form_enctype(form) }} style="display: none">
            {{ form_errors(form) }}
            <div>
                {{ form_errors(form.file) }}
                {{ form_widget(form.file) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" id="image-upload-submit" class="btn"/>
        </form>
        <br /><br />
    </center>
    
    {% if post.hasImages %}
    <div class="row">
        <div class="span9 offset2">
            <ul class="thumbnails">
                {% for image in post.images %}

                <li class="span3" id="image-{{image.id}}">
                    <div class="thumbnail">
                        <img src="{{ image.webpath | imagine_filter('big_thumb') }}" />
                        <i class="icon-trash delete-image-button" id="{{image.id}}"></i>
                    </div>
                </li>
                
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function(){

            function disableAllControls(toggle){
                $('#edit-area').attr("disabled", toggle);
                $('#delete-button').attr("disabled", toggle);
                $('#publish-button').attr("disabled", toggle);
                $('#save-button').attr("disabled", toggle);
                $('#add-image-button').attr("disabled", toggle);
                if(toggle){
                    $('#loading-wheel').fadeIn(100);
                }else{
                    $('#loading-wheel').fadeOut(100);
                }
            }

            function redirect_to_home(){
                window.location.href = "{{ path('home') }}";
            }
            
            function redirect_to_path(path){
                window.location.href = path;
            }
             
            function updatePostAjax(post_published,post_update_function){
 
                var post_content = $("#edit-area").val();
                var post_id = {{post.id}};

                disableAllControls(true);

                console.log("Post id: "+post_id);
                console.log("Post content: "+post_content);
                console.log("Making ajax POST request...");

                $.ajax({
                    url : '/post/'+post_id,
                    type : 'POST',
                    data: { content: post_content , published : post_published },
                    dataType : 'json',
                    success : function(data, statut){
                        console.log(data);
                        disableAllControls(false);
                        post_update_function;
                    },
                    error : function(data, statut, error){
                        console.log("Error during ajax post update");
                    },
                });

            }

            function deletePostAjax(){
                var post_id = {{post.id}};
                disableAllControls(true);
                $.ajax({
                    url : '/post/'+post_id,
                    type : 'DELETE',
                    dataType : 'json',
                    success : function(data, statut){
                        console.log("Axaj call has been a success");
                        console.log(data);
                        window.location.href = "{{ path('home') }}";
                    },
                    error : function(data, statut, error){
                        console.log("Error during ajax call");
                        alert('Erreur durant la suppression du post.');
                    },
                });
            }

            function deleteImageAjax(image_id){
                console.log("ACTION: delete image "+image_id);
                if(confirm("Êtes vous sur de vouloir supprimer cette photo ?")){
                    $.ajax({
                        url : '/image/'+image_id,
                        type : 'DELETE',
                        dataType : 'json',
                        success : function(data, statut){
                            console.log("Axaj call has been a success");
                            console.log(data);
                            $('#image-'+image_id).fadeOut(400);
                        },
                        error : function(data, statut, error){
                            console.log("Error during ajax call");
                        },
                    });
                }
            }

            //adding listener on "delete post" button
            $("#delete-button").click( function (event) {
                if(confirm("Êtes vous sur de vouloir supprimer définitivement cet article ?\n(les commentaires ainsi que les photos attachées seront perdus)")){
                    deletePostAjax();
                }
            });
            
            //adding listener on "save post" button
            $("#save-button").click( function (event) {
                updatePostAjax(0);
            });
            
            //adding listener on "publish" button
            $("#publish-button").click( function (event) {
                event.preventDefault();
                updatePostAjax(1,redirect_to_home());
            });
            
            //adding listener on "add image" button
            $("#add-image-button").click( function (event) {
                $('#image-upload-form').fadeIn(400);
                updatePostAjax(0);
                $('input[type=file]').click();
            });

            //adding listeners on "delete image" icons
            $(".delete-image-button").click( function (event) {
                var image_id = event.target.id;
                deleteImageAjax(image_id);
            });
            
            //adding listener on all out links
            $("a").click( function (event) {
                event.preventDefault();
                updatePostAjax(0,redirect_to_path(event.target.href));
            });

        });
    </script>
{% endblock %}

