{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {# Specific padding for this page as there is very few content#}
        body {
            padding-top: 140px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="span2">
    {% if post.published == true %}
            <h4>{{ post.date | localeDate('medium','none',null,'dd MMMM Y') }}</h4>
            <span class="label label-success">publié</span>
    {% else %}
            <h4>Aujourd'hui</h4>
            <span class="label label-warning">non publié</span>
    {% endif %}
            
        </div>
        <div class="span8">
            <form method="post" action="#" id="{{ post.id }}">
    {% if post.published == true %}
                <a href="#" class="btn btn-danger pull-left" id="delete-button"><i class="icon-trash icon-white" id="delete-icon"></i> Supprimer</a>
                <button type="submit" class="btn btn-success pull-right" id="publish-button"><i class="icon-download icon-white" id="publish-icon"></i> Mettre à jour</button>
    {% else %}
                <button type="submit" class="btn" id="save-button"><i class="icon-download" id="save-icon"></i> Sauvegarder</button>
                <button type="submit" class="btn btn-success pull-right" id="publish-button"><i class="icon-ok icon-white" id="publish-icon"></i> Publier</button>
    {% endif %}
                <br /><br />
                <textarea style="width: 100%" id="edit-area" rows="10">{{ post.content }}</textarea>
            </form>
        </div>
    </div>
    
    <center>
        <a href="{{ path('form_image',{'post_id': post.id })}}" class="btn btn-primary" id="picture-button">
            <i class="icon-picture icon-white"></i> Ajouter une photo
        </a>
        <br /><br />
    </center>
    
    {% if post.hasImages %}
    <div class="row">
        <div class="span8 offset2">
            <ul class="thumbnails">
                {% for image in post.images %}
                <li class="span2" id="image-{{image.id}}">
                    <button class="close delete-image-button" id="{{image.id}}">&times;</button>
                    <a href="{{ image.webpath }}" class="thumbnail" rel="lightbox[{{post.id}}]">
                         <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function(){
            
            function disableAllControls(toggle){
    {% if post.published == true %}
                document.getElementById("delete-button").disabled = toggle;
    {% else %}
                document.getElementById("save-button").disabled = toggle;
    {% endif %}
                document.getElementById("publish-button").disabled = toggle;
                document.getElementById("edit-area").disabled = toggle;
            }
            
            function updatePostAjax(post_id,post_published){
                var post_content = document.getElementById("edit-area").value;
                console.log("Post id: "+post_id);
                console.log("Post content: "+post_content);
                console.log("Making ajax POST request...");
                $.post(
                   '/post/'+post_id,
                   { content: post_content , published : post_published },
                   function(data, statut){
                        console.log(data);
                        if(statut=="success"){
                            console.log("Axaj call has been a success");
                            disableAllControls(false);
                            if(post_published == 1){
                                window.location.href = "{{ path('home') }}";
                            }
                        }
                   },'json'
                );
            }
            
            function savePostListener(e){
                disableAllControls(true);
                console.log("Save button clicked");
                e.preventDefault();
                var post_id = e.target.parentNode.id;
                updatePostAjax(post_id,0);
            }
            
            function publishPostListener(e){
                disableAllControls(true);
                console.log("Publish button clicked");
                e.preventDefault();
                var post_id = e.target.parentNode.id;
                updatePostAjax(post_id,1);
            }
            
            function deletePostListener(e){
                console.log("Delete button clicked");
                e.preventDefault();
                var post_id = e.target.parentNode.id;
                if(confirm("Êtes vous sur de vouloir supprimer définitivement cet article ?\n(les commentaires ainsi que les photos attachées seront perdus)")){
                    $.ajax({
                        url : '/post/'+post_id,
                        type : 'DELETE',
                        dataType : 'json',
                        success : function(data, statut){
                            console.log("Axaj call has been a success");
                            console.log(data);
                            window.location.href = "{{ path('home') }}";
                        },
                        error : function(data, statut, error){
                            console.log("Error during ajax call");
                        },
                    });
                }
            }
            
            function deleteImageListener(e){
                console.log("Delete image clicked");
                var image_id = e.target.id;
                if(confirm("Êtes vous sur de vouloir supprimer cette photo ?")){
                    $.ajax({
                        url : '/image/'+image_id,
                        type : 'DELETE',
                        dataType : 'json',
                        success : function(data, statut){
                            console.log("Axaj call has been a success");
                            console.log(data);
                            $('#image-'+image_id).fadeOut(400);
                        },
                        error : function(data, statut, error){
                            console.log("Error during ajax call");
                        },
                    });
                }
            }
            
    {% if post.published == true %}
            document.getElementById("delete-button").addEventListener('click', deletePostListener, false);
    {% else %}
            document.getElementById("save-button").addEventListener('click', savePostListener, false);
    {% endif %}
                
            document.getElementById("publish-button").addEventListener('click', publishPostListener, false);
            
            //adding listener on all delete image buttons
            var delete_images_buttons = document.querySelectorAll(".delete-image-button");
            for(var k=0;k<delete_images_buttons.length;k++){
                delete_images_buttons[k].addEventListener('click', deleteImageListener, false);
            }

        });
    </script>
{% endblock %}

