{% extends '::base.html.twig' %}

{% block title %}édition de post{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {# Specific padding for this page as there is very few content#}
        body {
            padding-top: 120px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    
    <center>
        
    </center>

    <div class="row post-editor" id={{post.id}}>
        <div class="span2" style="text-align: center;">
    {% if post.published == true %}
            <h4>{{ post.date | localeDate('medium','none',null,'dd MMMM Y') }}</h4>
            <span class="label label-success">publié</span>
    {% else %}
            <h4>Aujourd'hui</h4>
            <span class="label label-warning">non publié</span>
    {% endif %}
            <br /><br />
            <img id="loading-wheel" src="/lightbox/images/loading_small.gif" style="display: none"/>
        </div>
        <div class="span9">
            <form method="post" action="#" id="{{ post.id }}">
    {% if post.published == true %}
                <button class="btn btn-danger pull-left" id="delete-button"><i class="icon-trash icon-white" id="delete-icon"></i> Supprimer</a>
                
                <button type="submit" class="btn btn-success pull-right" id="publish-button"><i class="icon-download icon-white" id="publish-icon"></i> Mettre à jour</button>
    {% else %}
                <button type="submit" class="btn" id="save-button"><i class="icon-download" id="save-icon"></i> Garder comme brouillon</button>
                <button type="submit" class="btn btn-success pull-right" id="publish-button"><i class="icon-ok icon-white" id="publish-icon"></i> Publier</button>
    {% endif %}
                <br /><br />
                <textarea style="width: 100%" id="edit-area" rows="10">{{ post.content }}</textarea>
            </form>
        </div>
    </div>
    
    <center>
        <button class="btn btn-primary" id="add-image-button">
            <i class="icon-picture icon-white"></i> Ajouter une photo
        </button>
        <form action="{{ path('add_image') }}" id="image-upload-form" method="post" {{ form_enctype(form) }} style="display: none">
            {{ form_errors(form) }}
            {{ form_row(form.file) }}
            {{ form_rest(form) }}
            <input type="submit" id="image-upload-submit"/>
        </form>
        <br /><br />
    </center>
    
    {% if post.hasImages %}
    <div class="row">
        <div class="span9 offset2">
            <ul class="thumbnails">
                {% for image in post.images %}
                
                <li class="span3" id="image-{{image.id}}">
                    <!--<button class="close delete-image-button" id="{{image.id}}">&times;</button>-->
                    
                    <div class="thumbnail">
                        <img src="{{ image.webpath | imagine_filter('big_thumb') }}" />
                        <i class="icon-repeat" ></i>
                        <div class="pull-right" >
                            <i class="icon-trash delete-image-button" id="{{image.id}}"></i>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function(){
            
            function disableAllControls(toggle){
    {% if post.published %}
                document.getElementById("delete-button").disabled = toggle;
    {% else %}
                document.getElementById("save-button").disabled = toggle;
    {% endif %}
                document.getElementById("publish-button").disabled = toggle;
                document.getElementById("edit-area").disabled = toggle;
                if(toggle){
                    $('#loading-wheel').fadeIn(100);
                }else{
                    $('#loading-wheel').fadeOut(100);
                }
            }
            
            function updatePostAjax(post_published){
                var post_content = document.getElementById("edit-area").value;
                var post_id = {{post.id}};
                
                disableAllControls(true);
                
                console.log("Post id: "+post_id);
                console.log("Post content: "+post_content);
                console.log("Making ajax POST request...");
                
                $.post(
                   '/post/'+post_id,
                   { content: post_content , published : post_published },
                   function(data, statut){
                        console.log(data);
                        if(statut=="success"){
                            console.log("Axaj call has been a success");
                            disableAllControls(false);
                            if(post_published == 1){
                                window.location.href = "{{ path('home') }}";
                            }
                        }
                   },'json'
                );
            }
            
            function savePostListener(e){
                console.log("Save button clicked");
                e.preventDefault();
                updatePostAjax(0);
            }
            
            function publishPostListener(e){
                console.log("Publish button clicked");
                e.preventDefault();
                updatePostAjax(1);
            }
            
            function deletePostListener(e){
                console.log("Delete button clicked");
                e.preventDefault();
                var post_id = {{post.id}};
                if(confirm("Êtes vous sur de vouloir supprimer définitivement cet article ?\n(les commentaires ainsi que les photos attachées seront perdus)")){
                    $.ajax({
                        url : '/post/'+post_id,
                        type : 'DELETE',
                        dataType : 'json',
                        success : function(data, statut){
                            console.log("Axaj call has been a success");
                            console.log(data);
                            window.location.href = "{{ path('home') }}";
                        },
                        error : function(data, statut, error){
                            console.log("Error during ajax call");
                        },
                    });
                }
            }
            
            function addImageListener(e){
                console.log("Add image clicked");
                $('#image-upload-form').fadeIn(400);
            }
            
            function submitImageListener(e){
                console.log("Submit image clicked");
                updatePostAjax({{post.published}});
            }
            
            function deleteImageListener(e){
                console.log("Delete image clicked");
                var image_id = e.target.id;
                if(confirm("Êtes vous sur de vouloir supprimer cette photo ?")){
                    $.ajax({
                        url : '/image/'+image_id,
                        type : 'DELETE',
                        dataType : 'json',
                        success : function(data, statut){
                            console.log("Axaj call has been a success");
                            console.log(data);
                            $('#image-'+image_id).fadeOut(400);
                        },
                        error : function(data, statut, error){
                            console.log("Error during ajax call");
                        },
                    });
                }
            }
            
    {% if post.published == true %}
            document.getElementById("delete-button").addEventListener('click', deletePostListener, false);
    {% else %}
            document.getElementById("save-button").addEventListener('click', savePostListener, false);
    {% endif %}
                
            document.getElementById("publish-button").addEventListener('click', publishPostListener, false);
            
            //adding listener on POST image button
            document.getElementById("image-upload-submit").addEventListener('click', submitImageListener, false);
            
            //adding listener on upload image button
            document.getElementById("add-image-button").addEventListener('click', addImageListener, false);
            
            //adding listener on all delete image buttons
            var delete_images_buttons = document.querySelectorAll(".delete-image-button");
            for(var k=0;k<delete_images_buttons.length;k++){
                delete_images_buttons[k].addEventListener('click', deleteImageListener, false);
            }

        });
    </script>
{% endblock %}

