{% if post.hasAttachedFiles %}
    {% if post.totalAttachedFiles == 1 %}
        {% set contentWidth = 'span6' %}
        {% set imagesWidth = 'span4' %}
        {% set thumbWidth = 'span4' %}
    {% elseif post.totalAttachedFiles == 2 %}
        {% if post.weight > 1000 %}
            {% set contentWidth = 'span6' %}
            {% set imagesWidth = 'span4' %}
            {% set thumbWidth = 'span4' %}
        {% else %}
            {% set contentWidth = 'span4' %}
            {% set imagesWidth = 'span6' %}
            {% set thumbWidth = 'span3' %}
        {% endif %}
    {% elseif  post.totalAttachedFiles == 3 %}
        {% if post.weight < 800 %}
            {% set contentWidth = 'span4' %}
            {% set imagesWidth = 'span6' %}
            {% set thumbWidth = 'span2' %}
        {% elseif post.weight > 2500 %}
            {% set contentWidth = 'span6' %}
            {% set imagesWidth = 'span4' %}
            {% set thumbWidth = 'span4' %}
        {% else %}
            {% set contentWidth = 'span6' %}
            {% set imagesWidth = 'span4' %}
            {% set thumbWidth = 'span2' %}
        {% endif %}
    {% elseif  post.totalAttachedFiles == 4 %}
        {% set contentWidth = 'span6' %}
        {% set imagesWidth = 'span4' %}
        {% set thumbWidth = 'span2' %}
    {% else %}
        {% if post.weight > 1200 %}
            {% set contentWidth = 'span6' %}
            {% set imagesWidth = 'span4' %}
            {% set thumbWidth = 'span2' %}
        {% else %}
            {% set contentWidth = 'span4' %}
            {% set imagesWidth = 'span6' %}
            {% set thumbWidth = 'span2' %}
        {% endif %}
        
    {% endif %} 
{% else %}
    {% set contentWidth = 'span6' %}
    {% set imagesWidth = 'span4' %}
{% endif %}    
        
{% set age = post.ageInDays %}
{% set moreDate = post.date | localeDate('medium','none',null,'EEEE d') %}
{% if age == 0 %}
    {% set niceDate = 'Aujourd\'hui' %}
{% elseif age == 1%}
    {% set niceDate = 'Hier' %}
{% elseif age == 2 %}
    {% set niceDate = 'Avant-hier' %}
{% elseif age <=7 %}
    {% set niceDate = (post.date | localeDate('medium','none',null,'EEEE'))~' dernier' %}
    {% set moreDate = post.date | localeDate('medium','none',null,'d MMMM') %}
{% else %}
    {% set niceDate = post.date | localeDate('medium','none',null,'EEEE d MMMM') %}
    {% set moreDate = '' %}
{% endif %}
        
        <div class="row" id="{{ post.id }}-row">
             
            <a id="{{ post.id }}" class="anchoroffset"></a>
             
            <div class="span2">
                {% if new_day=='yes' %}
                    <h4>{{ niceDate }}</h4>
                {% else %}
                    <h4></h4>
                {% endif %}

                <p class="muted">
                    {{ moreDate }}
                    
                    {% if date(post.date) >= date('-1days') %}
                        (vers {{ post.approxHour }}h)
                    {% endif %}
                </p>
                
                {% set publish_date = post.date | date('Ymd') %}
                {% set edit_date = post.editDate | date('Ymd') %}
                {% if edit_date - publish_date >= 1 %}
                    <p class="muted">édité le {{ post.editDate | date('d/m/Y') }}</p>
                {% endif %}
                
            </div>
            
            <div class="{{ contentWidth }}">
                <h4>
                    <a href="{{ path('view_post',{'id': post.id }) }}" >{{ post.author }}</a>
                {% if post.author == app.user.username %}
                    <a href="{{ path('edit_post', {'id': post.id }) }}" class="pull-right">
                        <i class="icon-pencil"></i>
                    </a>
                {% endif %} 
                </h4>

                <p>{{ post.htmlcontent | raw }}</p>
                
                {% if post.hasAttachedFiles %}
                    {% include 'InouireMininetBundle:Post:comments.html.twig' %}
                {% endif %}
                
            </div>
            
            
            
            {% if post.hasAttachedFiles %}
            <div class="{{ imagesWidth }}" style="text-align:center">
                <ul class="thumbnails">
                
                    {% for video in post.videos %}
                    <li class="{{thumbWidth}}">
                        <a href="{{ path('get_video',{'id':video.id}) }}">
                             <img src="{{ path('get_video_thumbnail',{'id':video.id}) }}" class="img-polaroid"/>
                        </a>
                    </li>
                    {% endfor %}
                    
                    {% for image in post.images %}
                    <li class="{{thumbWidth}}">
                        <a href="{{ path('get_image',{'id':image.id}) }}" class="fancybox" rel="album[{{post.id}}]">
                             <img src="{{ path('get_thumbnail',{'id':image.id}) }}" class="img-polaroid"/>
                        </a>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            {% else %}
            <div class="{{ imagesWidth }}">
                {% include 'InouireMininetBundle:Post:comments.html.twig' %}
            </div>
            {% endif %}

            
        </div>
