{% extends 'InouireMininetBundle:Email:base.html.twig' %}

{% block email_content %}

    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td width="200" valign="top"><h3>Voici la liste des contributions de la semaine sur votre mini-net:<h3></td>
        </tr>
    </table>
        
    <table cellpadding="0" cellspacing="0" border="0" align="center">
    {% for post in post_list %}
        {% set age = post.ageInDays %}
        {% if age == 0 %}
            {% set niceDate = "Aujourd'hui" %}
        {% elseif age == 1%}
            {% set niceDate = 'Hier' %}
        {% elseif age == 2 %}
            {% set niceDate = 'Avant-hier' %}
        {% elseif age <=7 %}
            {% set niceDate = (post.date | localeDate('medium','none',null,'EEEE'))~' dernier' %}
        {% else %}
            {% set niceDate = post.date | localeDate('medium','none',null,'EEEE d MMMM') %}
        {% endif %}
        <tr>
            <td width="100" valign="top">{{niceDate}}, de {{post.author.username}}:</td>
            <td width="200" valign="top">{{ post.contentPreview }}</td>
            <td width="100" valign="top">{% if post.comments | length > 0 %}({{post.comments |length }} commentaires){% endif %}</td>
            <td width="75" valign="top">{% if post.hasImages %}+ {{post.images |length }} photos {% endif %}</td>
            <td width="75" valign="top">{% if post.hasVideos %}+ {{post.videos |length }} vidéos {% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td width="200" valign="top">Tout le contenu et les photos sur <a href="{{ url('home') }}">{{ url('home') }}</a></td>
        </tr>
    </table>
    
{% endblock %}




