{% extends 'InouireMininetBundle:Email:base.html.twig' %}

{% block email_content %}

    <td width="200" valign="top"><h3>Voici la liste des contributions de la semaine sur votre mini-net:<h3></td>
    
    {% for post in post_list %}
        {% set age = post.ageInDays %}
        {% if age == 0 %}
            {% set niceDate = "Aujourd'hui" %}
        {% elseif age == 1%}
            {% set niceDate = 'Hier' %}
        {% elseif age == 2 %}
            {% set niceDate = 'Avant-hier' %}
        {% elseif age <=7 %}
            {% set niceDate = (post.date | localeDate('medium','none',null,'EEEE'))~' dernier' %}
        {% else %}
            {% set niceDate = post.date | localeDate('medium','none',null,'EEEE d MMMM') %}
        {% endif %}
        <td width="200" valign="top">
            {{niceDate}}, de {{post.author.username}}:<br>
            {{ post.contentPreview }} {% if post.comments | length > 0 %}({{post.comments |length }} commentaires){% endif %}<br>
            {% if post.hasImages %}+ {{post.images |length }} photos {% endif %}<br>
            {% if post.hasVideos %}+ {{post.videos |length }} vidéos {% endif %}<br>
        </td>
    {% endfor %}
    <td width="200" valign="top">Tout le contenu et les photos sur <a href="{{ url('home') }}">{{ url('home') }}</a></td>

{% endblock %}




