{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}

    
    {% set currentMonth = '0' %}
            
    {% for image in image_list %}

            {% set postMonth = image.post.date | date("Ym") %}
            {% if currentMonth < postMonth %}
                {% if currentMonth != 0 %}
                
                    </ul>
                </div>
                <hr>
                {% endif %}
                {% set currentMonth =  postMonth %}
                <div class="row">
                    <a id="{{ currentMonth }}" class="anchoroffset"></a>
                    <h3>{{image.post.date | localeDate('medium','none',null,'MMMM') }}</h3>
                </div>
                <div class="row">
                    <ul class="thumbnails">           
            {% endif %}
                <li class="span2">
                    <a href="{{ image.webpath }}" class="fancybox thumbnail" rel="fancybox[{{year}}]">
                         <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                    </a>
                </li>

    {% endfor %}
    
        </ul>
   </div>
   
{% endblock %}
