{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}

    
    {% set currentMonth = '0' %}
            
    {% for image in image_list %}

            {% set postMonth = image.post.date | date("Ym") %}
            {% if currentMonth < postMonth %}
                {% if currentMonth != 0 %}
                
                        </ul>
                    </div>
                </div>
                <hr>
                
                {% endif %}
                {% set currentMonth =  postMonth %}
                <div class="row">
                    <div class="span12">
                        <a id="{{ currentMonth }}" class="anchoroffset"></a>
                        <h3>{{image.post.date | localeDate('medium','none',null,'MMMM') }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul class="thumbnails">           
            {% endif %}
                <li class="span2">
                    <a href="{{ image.webpath }}" class="fancybox thumbnail" rel="fancybox[{{year}}]">
                         <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                    </a>
                </li>

    {% endfor %}
            
            </ul>
        </div>
   </div>
   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){
            
            //init fancybox on all pictures, with thumb
            $(".fancybox").fancybox({
                loop: false,
                openEffect: 'fade',
                closeEffect: 'fade',
                nextEffect: 'none',
                prevEffect:'none',
                nextClick: true,
                helpers:  {
                    thumbs : {
                        width: 50,
                        height: 50
                    }
                }
            });
        });
    </script>
{% endblock %}
