{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}

    
    {% set currentMonth = '0' %}
            
    {% for image in image_list %}

            {% set postMonth = image.post.date | date("Ym") %}
            {% if currentMonth < postMonth %}
                {% if currentMonth != 0 %}
                
                        </ul>
                    </div>
                </div>
                
                {% endif %}
                {% set currentMonth =  postMonth %}
                <div class="row">
                    <a id="{{ currentMonth }}" class="anchoroffset"></a>
                    <div class="span2">
                        <h4>{{image.post.date | localeDate('medium','none',null,'MMMM') }}</h4> 
                    </div>
                    <div class="span10">
                        <ul class="thumbnails">           
            {% endif %}
                <li class="span2">
                    <a href="{{ image.webpath }}" class="fancybox thumbnail" rel="fancybox[{{year}}]">
                         <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                    </a>
                </li>

    {% endfor %}
    
            </ul>
        </div>
   </div>
   
{% endblock %}
