<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>
            Mini-net : {% block title %}le réseau social familial{% endblock %}
        </title>
        
    {% block stylesheets %}
        <link href="{{ asset('bootstrap2/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap2/css/bootstrap-responsive.css') }}" rel="stylesheet">          
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('fancybox/jquery.fancybox.css?v=2.1.5') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" rel="stylesheet" type="text/css" />
    
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    
    </head>
    
{% set currentPath = app.request.attributes.get('_route') %}
{% set classHome = '' %}
{% set classAlbum = '' %}
{% set classArchives = '' %}
{% set classTags = '' %}
{% set bodyClass = '' %}
{% if currentPath == 'home' %}
    {% set classHome = ' active' %}
{% elseif currentPath == 'album' %}
    {% set classAlbum = ' active' %}
{% elseif currentPath == 'posts' %}
    {% set classArchives = ' active' %}
{% elseif currentPath == 'tags' %}
    {% set classTags = ' active' %}
{% elseif currentPath == 'edit_post' %}
    {% set bodyClass = 'tole' %}
{% endif %}  
        
    <body class="{{bodyClass}}">
    
    <!-- offset for navbar -->
    <div class="hidden-phone hidden-tablet" style="padding-top:70px"></div>
    
    {% block header %}
    
    <!-- navbar -->    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('home') }}">Mini-net</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="{{classHome}}"><a href="{{ path('home') }}"><i class="icon-home icon-white"></i> Accueil</a></li>
                <li class="{{classAlbum}}"><a href="{{ path('albums') }}"><i class="icon-eye-open icon-white"></i> Albums</a></li>
                <li class="{{classTags}}"><a href="{{ path('tags') }}"><i class="icon-tag icon-white"></i> Tags</a></li>
                <li class="{{classArchives}}"><a href="{{ path('archives') }}"><i class="icon-calendar icon-white"></i> Archives</a></li>
            </ul>
{% if app.user != null %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <form class="navbar-form pull-right">
            
                <a class="btn btn-success" href="{{ path('new_post') }}">
                    Ajouter des nouvelles
                </a>
                
                <div class="btn-group">
                    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user icon-white hidden-phone" id="user-logout-icon"></i> {{ app.user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </div>
                
            </form>
    {% endif %}
{% endif %}

          </div>
        </div>
      </div>
    </div><!-- navbar-->
    
    {% endblock %}
        
    <div class="container">

    {% block body %}
    {% endblock %}
    
    {% block footer %}
        <hr>
        <center>
            <p><span class="label label-primary">mini-net</span> - le réseau social familial le plus simple au monde</p>
        </center>
    {% endblock %}
        
    </div><!-- container-->
        
    {% block javascripts %}
        
        <script type="text/javascript" src="{{ asset('jquery/jquery-1.10.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery/jquery.color.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bootstrap2/js/bootstrap.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('fancybox/jquery.fancybox.js?v=2.1.5' )}}"></script>
        <script type="text/javascript" src="{{ asset('fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
        
    {% endblock %}
        
    </body>
</html>
