<!DOCTYPE html>
<html>

    <head>
    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>
            Mini-net : 
            {% block title %}le réseau social familial{% endblock %}
            
        </title>
        
    {% block stylesheets %}
    
        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">        
        <link href="{{ asset('fancybox/jquery.fancybox.css?v=2.1.1')}}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" rel="stylesheet" type="text/css"  />
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    {% endblock %}
    
    </head>
    
    <body>
    
        {% block header %}
        
        {% set currentPath = app.request.attributes.get('_route') %}
        {% set classHome = '' %}
        {% set classTextHome = 'hidden-phone' %}
        {% set classAlbum = '' %}
        {% set classTextAlbum = 'hidden-phone' %}
        {% set classArchives = '' %}
        {% set classTextArchives = 'hidden-phone' %}
        {% if currentPath == 'home' %}
            {% set classHome = ' active' %}
            {% set classTextHome = '' %}
        {% elseif currentPath == 'album' %}
            {% set classAlbum = ' active' %}
            {% set classTextAlbum = '' %}
        {% elseif currentPath == 'posts' %}
            {% set classArchives = ' active' %}
             {% set classTextArchives = '' %}
        {% endif %}  
                    
                    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand hidden-phone" href="{{ path('root') }}">Mini-net</a>
          
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <div class="pull-right">
                <a class="btn btn-success" href="{{ path('new_post') }}">Ajouter des nouvelles</a>
                <a class="btn btn-inverse" id="user-logout-button" href="{{ path('fos_user_security_logout') }}">
                    <i class="icon-remove icon-white visible-phone"></i>
                    <i class="icon-user icon-white hidden-phone" id="user-logout-icon"></i>  
                    <span class="hidden-phone">{{ app.user.username }}</span>
                </a>
              </div>  
          {% endif %}
       
            <!-- nav menu -->
            <ul class="nav">
                <li class="{{ classHome }}"><a href="{{ path('home') }}"><i class="icon-home"></i> <span class="hidden-small-phone {{classTextHome}}">Accueil</span></a></li>
                <li class="{{ classAlbum }}"><a href="{{ path('albums') }}"><i class="icon-th-large"></i> <span class="hidden-small-phone {{classTextAlbum}}">Albums</span></a></li>
                <li class="{{ classArchives }}"><a href="{{ path('archives') }}"><i class="icon-calendar"></i> <span class="hidden-small-phone {{classTextArchives}}">Archives</span></a></li>
            </ul>
        </div>
      </div>
    </div>
    

        
        {% endblock %}
        
        <div class="container">
        
        {% block body %}
        {% endblock %}
        
        {% block footer %}
            <hr>
            <center>
                <p><span class="label label-info">mini-net</span> , le réseau social familial le plus simple au monde</p>
            </center>
            
        {% endblock %}
        
        </div><!-- container-->
        
    {% block javascripts %}
    
        <script src="{{ asset('jquery/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('jquery/jquery.color.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('fancybox/jquery.fancybox.js?v=2.1.1') }}" type="text/javascript"></script> 
        <script src="{{ asset('fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}" type="text/javascript"></script> 
        
        <script type="text/javascript">
            $(document).ready(function() {
            
                //init fancybox on all pictures
                $(".fancybox").fancybox({
                    loop: false,
                    openEffect: 'fade',
                    closeEffect: 'fade',
                    nextEffect: 'none',
                    prevEffect:'none',
                    nextClick: true,
                    helpers:  {
                        thumbs : {
                            width: 50,
                            height: 50
                        }
                    }
                });
                
                //add an effect on logout button
                $('#user-logout-button').mouseenter(function(event){
                    button = $('#user-logout-button');
                    button.removeClass('btn-inverse');
                    button.addClass('btn-danger');
                    icon=$('#user-logout-icon');
                    icon.removeClass('icon-user');
                    icon.addClass('icon-remove');
                });
                $('#user-logout-button').mouseleave(function(event){
                    button = $('#user-logout-button');
                    button.addClass('btn-inverse');
                    button.removeClass('btn-danger');
                    icon=$('#user-logout-icon');
                    icon.addClass('icon-user');
                    icon.removeClass('icon-remove');
                });
                });
        </script>

        
    {% endblock %}
        
    </body>
</html>
