{% extends 'InouireMininetBundle:Default:base.html.twig' %}


{% block body %}

    {% include 'InouireMininetBundle:Default:blankBlock.html.twig' %}
    
    <div class="row">
        <center>
            {% if error_level == 'bang' %}
                <img src="{{asset('css/icons/bang.png')}}"/>
            {% else %}
                <img src="{{asset('css/icons/about.png')}}"/>
            {% endif %}
            
            <div>
              <h1>
                {{ error_title }}<br>
                <small>{{ error_message }}</small>
              </h1>
            </div>
            <br>
            <a href="{{ follow_link }}" class="btn btn-inverse">{{ follow_link_text }} »</a>
        </center>
    </div>

{% endblock %}


{% block footer %}
    
    <div class="big-blank-block visible-desktop"></div>
    {{ parent() }}
    
{% endblock %}
