{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block title %}archives pour {{current_date | localeDate('medium','none',null,'MMMM')}} {{ current_year }}{% endblock %}

{% block body %}
    
    <div>
        <center><span style="font-size: 2em;"> {{ current_year }} </span></center>
        <div class="pagination pagination-centered">
            <ul>
                <li><b><a href="{{ path('posts',{'year':current_year-1 , 'month': 12 }) }}"> &larr; {{ current_year - 1}} </a></b></li>
            {% for month in  months_of_year %}
                {% set month_nb = month | date('m') %}
                {% if  month_nb == current_month  %}
                    <li class="active"><span>{{ month | localeDate('medium','none',null,'MMMM') }}</span></li>
                {% else %}
                    <li><a href="{{ path('posts',{'year':current_year , 'month': month_nb }) }}">{{ month | localeDate('medium','none',null,'MMMM') }}</a></li>
                {% endif %}
            {% endfor %}
                <li><b><a href="{{ path('posts',{'year':current_year+1 , 'month': 1 }) }}"> {{ current_year + 1}} &rarr;</a></b></li>
            </ul>
        </div>
    </div>

    <br>
   
    {% block posts %}
    {% endblock %}
        
{% endblock %}

