{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block title %}albums pour l'année {{ year }}{% endblock %}

{% block body %}
    
    <img src="{{asset('css/icons/camera.png')}}" class="pull-right"/>
    <div>
        <ul class="pager">
            <li><a href="{{ path('album',{'year':year-1 }) }}">&larr; {{ year - 1}}</a></li>
            <span style="font-size: 2em;"> {{ year }} </span>
            <li><a href="{{ path('album',{'year':year+1 }) }}">{{ year + 1}} &rarr;</a></li>
    </div>

    <hr>
   
    {% block album %}
    {% endblock %}
        
{% endblock %}

