{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block body %}
    
    {% set new_day='yes' %}
    
    {% for post in post_list %}
        
        {% if current_datestamp is defined %}
            {% if post.date | date('Ymd') != current_datestamp %}
                <hr>
                {% set new_day='yes' %}
            {% else %}
                {% set new_day='no' %}
            {% endif %}
        {% endif %}
        {% set current_datestamp = post.date | date('Ymd') %}
        
        {% if post.hasImages %}
            {% if post.images|length == 1 %}
                {% set contentWidth = 'span6' %}
                {% set imagesWidth = 'span4' %}
                {% set thumbWidth = 'span4' %}
            {% elseif post.images|length == 2 %}
                {% if post.weight > 1000 %}
                    {% set contentWidth = 'span6' %}
                    {% set imagesWidth = 'span4' %}
                    {% set thumbWidth = 'span4' %}
                {% else %}
                    {% set contentWidth = 'span4' %}
                    {% set imagesWidth = 'span6' %}
                    {% set thumbWidth = 'span3' %}
                {% endif %}
            {% elseif  post.images|length == 3 %}
                {% if post.weight > 2500 %}
                    {% set contentWidth = 'span6' %}
                    {% set imagesWidth = 'span4' %}
                    {% set thumbWidth = 'span4' %}
                {% else %}
                    {% set contentWidth = 'span6' %}
                    {% set imagesWidth = 'span4' %}
                    {% set thumbWidth = 'span2' %}
                {% endif %}
            {% elseif  post.images|length == 4 %}
                {% set contentWidth = 'span6' %}
                {% set imagesWidth = 'span4' %}
                {% set thumbWidth = 'span2' %}
            {% else %}
                {% set contentWidth = 'span4' %}
                {% set imagesWidth = 'span6' %}
                {% set thumbWidth = 'span2' %}
            {% endif %} 
        {% else %}
            {% set contentWidth = 'span6' %}
            {% set imagesWidth = 'span4' %}
        {% endif %}    
                
        {% set age = post.ageInDays %}
        {% set moreDate = post.date | localeDate('medium','none',null,'EEEE d') %}
        {% if age == 0 %}
            {% set niceDate = 'Aujourd\'hui' %}
        {% elseif age == 1%}
            {% set niceDate = 'Hier' %}
        {% elseif age == 2 %}
            {% set niceDate = 'Avant-hier' %}
        {% elseif age <=7 %}
            {% set niceDate = (post.date | localeDate('medium','none',null,'EEEE'))~' dernier' %}
            {% set moreDate = post.date | localeDate('medium','none',null,'d MMMM') %}
        {% else %}
            {% set niceDate = post.date | localeDate('medium','none',null,'EEEE d MMMM') %}
            {% set moreDate = '' %}
        {% endif %}
        
        <div class="row">
        
            <div class="span2">
                {% if new_day=='yes' %}
                    <h4>{{ niceDate }}</h4>
                {% else %}
                    <h4></h4>
                {% endif %}

                <p class="muted">
                    {{ moreDate }}
                    
                    {% if date(post.date) >= date('-1days') %}
                        (vers {{ post.approxHour }}h)
                    {% endif %}
                </p>
                
                {% set publish_date = post.date | date('Ymd') %}
                {% set edit_date = post.editDate | date('Ymd') %}
                {% if edit_date - publish_date >= 1 %}
                    <p class="muted">édité le {{ post.editDate | date('d/m/Y') }}</p>
                {% endif %}
                
            </div>
            
            <div class="{{ contentWidth }}">
                <h4>
                    <a href="{{ path('view_post',{'post_id': post.id }) }}" >{{ post.author }}</a>
                {% if post.author == app.user.username %}
                    <a href="{{ path('edit_post', {'post_id': post.id }) }}" class="pull-right"><i class="icon-pencil"></i></a>
                {% endif %}                
                </h4>

                <p>{{ post.htmlcontent | raw }}</p>
                
                {% if post.hasImages %}
                    <div id="comments-{{ post.id }}">
                        {% for comment in post.comments %}
                            {% if comment.author.id == post.author.id %}
                                 <div class="alert alert-success very-close author-comment" id="comment-{{comment.id}}">
                            {% else %}
                                 <div class="alert alert-info very-close" id="comment-{{comment.id}}">
                            {% endif %}
                                  <strong>{{ comment.author }}: </strong>{{ comment.content }}
                            {% if comment.author.id == app.user.id %}
                                <button class="close delete-comment" id="{{comment.id}}">&times;</button>
                            {% endif %}
                                </div>
                        {% endfor %}
                    </div>
                    <form class="form-inline pull-right" id="comment-form-{{ post.id }}">
                        <div class="input-prepend" id="comment-block-{{ post.id }}" style="display: none">
                            <span class="add-on">{{ app.user.username}}:</span><input class="input-medium" id="comment-input-{{ post.id }}" size="16" type="text">
                        </div>
                        <img id="comment-wheel-{{ post.id }}" src="{{ asset('/css/icons/loading_small.gif')}}" style="display: none"/>
                        <button type="submit" class="btn comment-button" id="{{ post.id }}">Commenter</button>
                    </form>
                    <div style="margin-bottom:45px;"></div>
                {% endif %}
                
            </div>
            
            <div class="{{ imagesWidth }}">
            {% if post.hasImages %}
                <ul class="thumbnails">
                    {% for image in post.images %}
                    <li class="{{ thumbWidth}}">
                        <a href="{{ path('get_image',{"image_id":image.id}) }}" class="fancybox thumbnail" rel="fancybox[{{post.id}}]">
                             <img src="{{ image.webpath | imagine_filter('big_thumb') }}"/>
                        </a>
                    </li>
                    {% endfor %}
                 </ul>
            {% else %}
                <div id="comments-{{ post.id }}">
                    {% for comment in post.comments %}
                        {% if comment.author.id == post.author.id %}
                            <div class="alert alert-success very-close author-comment" id="comment-{{comment.id}}">
                        {% else %}
                            <div class="alert alert-info very-close" id="comment-{{comment.id}}">
                        {% endif %}
                             <strong>{{ comment.author }}: </strong>{{ comment.content }}
                        {% if comment.author.id == app.user.id %}
                            <button class="close delete-comment" id="{{comment.id}}">&times;</button>
                        {% endif %}
                            </div>
                    {% endfor %}
                </div>
                <form class="form-inline pull-right" id="comment-form-{{ post.id }}">
                    <div class="input-prepend" id="comment-block-{{ post.id }}" style="display: none">
                        <span class="add-on">{{ app.user.username}}:</span><input class="input-medium" id="comment-input-{{ post.id }}" size="16" type="text">
                    </div>
                    <img id="comment-wheel-{{ post.id }}" src="{{ asset('/css/icons/loading_small.gif')}}" style="display: none"/>
                    <button type="submit" class="btn comment-button" id="{{ post.id }}">Commenter</button>
                </form>  
            {% endif %}
            </div>
        </div>

    {% endfor %}
        
    {% set counter = 0 %}
    
    <div class="row">
    {% for post in post_secondary_list %}
        {% if counter % 3 == 0 and counter != 0 %}
        </div>
        <hr>
        <div class="row">
        {% endif %}
            <div class="span4">
                <h4>
                    {{ post.author }} - 
                    {{ post.date | localeDate('medium','none',null,'d MMMM') }}
                    <span class="pull-right">
                    {% if post.images | length > 0 %}
                        <span class="badge badge-success">{{ post.images | length }} <i class="icon-camera icon-white" ></i></span>
                    {% endif %}
                    {% if post.comments | length > 0 %}
                        <span class="badge badge-info">{{ post.comments | length }} <i class="icon-comment icon-white" ></i></span>
                    {% endif %}
                    </span>
                </h4>
                
                <p>{{ post.resume | raw }}</p>
                <p><a href="{{ path('view_post',{'post_id':post.id }) }}" class="pull-right">Lire la suite »</a></p>
            </div>
        {% set counter = counter + 1 %}
    {% endfor %}
    </div>
    
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
       
        $(document).ready(function(){
            
            //init fancybox on all pictures
            $(".fancybox").fancybox({
                loop: false,
                openEffect: 'fade',
                closeEffect: 'fade',
                nextEffect: 'none',
                prevEffect:'none',
                nextClick: true,
            });
                
            function deleteCommentListener(e){
                e.preventDefault();
                var comment_id = e.target.id;
                console.log("Id du bouton de delete source de l'event:"+e.target.id);
                var comment_to_delete = document.getElementById('comment-'+comment_id);
                if(confirm("Êtes vous sur de vouloir supprimer ce commentaire ?")){
                    $('#comment-'+comment_id).fadeOut(250);
                    //comment_to_delete.parentNode.removeChild(comment_to_delete);
                    console.log("Making DELETE request for comment "+comment_id);
                    $.ajax({
                       url : '/comment/'+comment_id,
                       type : 'DELETE',
                       //dataType: 'json',
                       success : function(code_html, statut){
                           console.log("Axaj call has been a success");
                           console.log("data:"+code_html);
                        }
                    });
                }
            }
            
            function commentListener(e){
                
                e.preventDefault();

                var post_id = e.target.id;
                var comment_input = document.getElementById('comment-input-'+post_id);
                var comment_block = document.getElementById('comment-block-'+post_id);
                var comment_content = comment_input.value;
                console.log("Id du bouton source de l'event:"+e.target.id);
                console.log("Contenu de l'input:"+comment_content);
                
                if(e.target.innerHTML=="Commenter"){
                    $('#comment-block-'+post_id).fadeIn(100);
                    e.target.innerHTML="Envoyer »";
                    comment_input.focus();
                }else{

                    $('#comment-block-'+post_id).fadeOut(100);
                    if(comment_content.length == 0){
                        e.target.innerHTML="Commenter";
                    }else{
                        $('#comment-wheel-'+post_id).fadeIn(100);
                        var current_form = document.getElementById('comment-form-'+post_id);
                        console.log("Making POST request");
                        $.post(
                           '/comment',
                           { post_id: post_id, comment: comment_content },
                           function(data, statut){
                                if(statut=="success"){
                                    console.log("Axaj call has been a success");
                                    console.log(data); 
                                    var comments = document.getElementById('comments-'+post_id);
                                    if(data.is_author_of_post == 1){
                                        comments.innerHTML += '<div class=\"alert alert-success very-close author-comment\" id=\"comment-'+data.comment.id+'\" style=\"display:none\"><strong>{{app.user.username}}: </strong>'+data.comment.content+'<button class=\"close delete-comment\" id=\"'+data.comment.id+'\">&times;</button></div>';
                                    }else{
                                        comments.innerHTML += '<div class=\"alert alert-info very-close\" id=\"comment-'+data.comment.id+'\" style=\"display:none\"><strong>{{app.user.username}}: </strong>'+data.comment.content+'<button class=\"close delete-comment\" id=\"'+data.comment.id+'\">&times;</button></div>';
                                    }
                                   var comment = document.getElementById('comment-'+data.comment.id);
                                    e.target.innerHTML="Commenter";
                                    $('#comment-'+data.comment.id).fadeIn(100);
                                    $('#comment-wheel-'+post_id).fadeOut(100);
                                    comment.addEventListener('click', deleteCommentListener, false);
                                }
                                
                           },'json'
                        );
                        current_form.reset();
                    }
                    
                }
                
            }
            
            //adding listener on all comment buttons
            var comment_buttons = document.querySelectorAll(".comment-button");
            console.log("Total nb comments button:"+comment_buttons.length);
            for(var k=0;k<comment_buttons.length;k++){
                comment_buttons[k].addEventListener('click', commentListener, false);
            }
            
            //adding listener on all delete comment buttons
            var delete_comment_buttons = document.querySelectorAll(".delete-comment");
            console.log("Total nb delete comments button:"+delete_comment_buttons.length);
            for(var k=0;k<delete_comment_buttons.length;k++){
                delete_comment_buttons[k].addEventListener('click', deleteCommentListener, false);
            }

        });
    </script>
{% endblock %}
