{% extends '::base.html.twig' %}

{% block body %}
    
        {% for post in post_list %}
        
        <div class="row">
            <div class="span2">
                <h3>{{ post.date | localeDate('long') }}</h3>
                <!-- TODO: animate this label -->
                <!--<span class="label label-warning">nouveau</span>-->
            </div>
            <div class="span6">
                <h3>{{ post.author }}</h3>
                {% if post.author == app.user.username %}
                <a href="{{ path('edit_post', {'post_id': post.id }) }}" class="pull-right"><i class="icon-pencil"></i></a>
                {% endif %}
                <p>{{ post.htmlcontent | raw }}</p> 
            </div>
            <div class="span4">
                <div id="comments-{{ post.id }}">
                    {% for comment in post.comments %}
                        {% if comment.author == app.user.username %}
                            <div class="alert alert-success" id="comment-{{comment.id}}">
                                <strong>{{ comment.author }}: </strong>
                                {{ comment.content }}
                                <button class="close delete-comment" id="{{comment.id}}">&times;</button>
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                <strong>{{ comment.author }}: </strong>
                                {{ comment.content }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <form class="form-inline pull-right" id="comment-form-{{ post.id }}">
                    <div class="input-prepend" id="comment-block-{{ post.id }}" style="display: none">
                        <span class="add-on">{{ app.user.username}}:</span><input class="input-medium" id="comment-input-{{ post.id }}" size="16" type="text">
                    </div>
                    <button type="submit" class="btn comment-button" id="{{ post.id }}">Commenter</button>
                </form>   
            </div>
        </div>
    
        <hr>
        
        {% endfor %}
        
        
    <div class="row">
        <div class="span2">
            <h3>Entry date</h3> 
            <span class="label label-warning">new</span>
        </div>
        <div class="span6">
            <button class="close">&times;</button>
            <h3>Author</h3>
            <p>Entry content blabla</p>
            
            <div class="alert alert-info"><strong>Commenter#1: </strong>a comment</div>
            <div class="alert alert-info"><strong>Commenter#2: </strong>another comment</div>
            <div class="alert alert-success"><strong>Author: </strong>response<button class="close">&times;</button></div>
            <form class="form-inline pull-right">
                <div class="input-prepend">
                    <span class="add-on">Author:</span><input class="input-xlarge" id="prependedInput" size="16" type="text" placeholder="mon commentaire">
                  </div>
                <button type="submit" class="btn">Commenter »</button>
            </form>         
        </div>
        
        <div class="span4">
            <ul class="thumbnails">
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="span10 offset2">
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="span2">
            <span class="label label-warning">nouveau</span>
        </div>
        <div class="span6">
            <h3>Author</h3>
            <p>Another entry content</p>
        </div>
        <div class="span4">
            <div class="alert alert-info"><strong>Commenter: </strong>comment blah</div>
            <div class="alert alert-success"><strong>Author: </strong>comment blah blah</div>
            <p class="pull-right"><a class="btn" href="#">Commenter »</a></p>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="span2">
            <h3>Another date</h3>
        </div>
        <div class="span6">
            <h3>Author</h3>
            <p>bla bla bla, bli ?</p>
            <p class="pull-right"><a class="btn" href="#">Commenter »</a></p>
        </div>
        <div class="span4">
            <ul class="thumbnails">
                <li class="span4">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <hr>
          
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>28/11/11<span class="badge badge-info pull-right">4</span></h2>
            
           <p>Donec id elit non mi porta gravida at eget metus. Fusce 
dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
fermentum massa justo sit amet risus. Etiam porta sem malesuada magna 
mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Heading <span class="badge pull-right">0</span></h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce 
dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
fermentum massa justo sit amet risus. Etiam porta sem malesuada magna 
mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Heading <span class="badge badge-info pull-right">2</span></h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis 
in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
 ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
       
        jQuery(document).ready(function(){
            
            console.log("JQuery loaded");
            
            function deleteCommentListener(e){
                e.preventDefault();
                var comment_id = e.target.id;
                console.log("Id du bouton de delete source de l'event:"+e.target.id);
                var comment_to_delete = document.getElementById('comment-'+comment_id);
                if(confirm("Êtes vous sur de vouloir supprimer ce commentaire ?")){
                    $('#comment-'+comment_id).fadeOut(250);
                    //comment_to_delete.parentNode.removeChild(comment_to_delete);
                    console.log("Making DELETE request for comment "+comment_id);
                    $.ajax({
                       url : '/post/23/comment/'+comment_id,
                       type : 'DELETE',
                       //dataType: 'json',
                       success : function(code_html, statut){
                           console.log("Axaj call has been a success");
                           console.log("data:"+code_html);
                        }
                    });
                }
            }
            
            function commentListener(e){
                e.preventDefault();

                var post_id = e.target.id;
                var comment_input = document.getElementById('comment-input-'+post_id);
                var comment_block = document.getElementById('comment-block-'+post_id);
                var comment_content = comment_input.value;
                console.log("Id du bouton source de l'event:"+e.target.id);
                console.log("Contenu de l'input:"+comment_content);
                
                if(e.target.innerHTML=="Commenter"){
                    $('#comment-block-'+post_id).fadeIn(100);
                    e.target.innerHTML="Envoyer »";
                    comment_input.focus();
                }else{
                    $('#comment-block-'+post_id).fadeOut(100);
                    e.target.innerHTML="Commenter";
                    var current_form = document.getElementById('comment-form-'+post_id);
                    console.log("Making POST request");
                    $.post(
                       '/post/'+post_id+'/comment',
                       { comment: comment_content },
                       function(data, statut){
                            if(statut=="success"){
                            }
                            console.log("Axaj call has been a success");
                            console.log(statut);
                            console.log(data); 
                            console.log(data.comment.id); 
                            console.log(data.comment.content);
                            console.log(post_id);
                            var comments = document.getElementById('comments-'+post_id);
                            //insérer cet élément proprement... histoire de ne pas tout casser
                            comments.innerHTML += '<div class=\"alert alert-success\" id=\"comment-'+data.comment.id+'\" style=\"display:none\"><strong>{{app.user.username}}: </strong>'+data.comment.content+'<button class=\"close delete-comment\" id=\"'+data.comment.id+'\">&times;</button></div>';
                            var comment = document.getElementById('comment-'+data.comment.id);
                            $('#comment-'+data.comment.id).fadeIn(100);
                            comment.addEventListener('click', deleteCommentListener, false);
                       },'json'
                    );
                    current_form.reset();
                    
                }
                
            }
            
            //adding listener on all comment buttons
            var comment_buttons = document.querySelectorAll(".comment-button");
            console.log("Total nb comments button:"+comment_buttons.length);
            for(var k=0;k<comment_buttons.length;k++){
                comment_buttons[k].addEventListener('click', commentListener, false);
            }
            
            //adding listener on all delete comment buttons
            var delete_comment_buttons = document.querySelectorAll(".delete-comment");
            console.log("Total nb delete comments button:"+delete_comment_buttons.length);
            for(var k=0;k<delete_comment_buttons.length;k++){
                delete_comment_buttons[k].addEventListener('click', deleteCommentListener, false);
            }

        });
    </script>
{% endblock %}
