
    {% set currentPath = app.request.attributes.get('_route') %}
        
    <div class="pagination pagination-centered">
        <ul>
            <li><b><a href="{{ path(currentPath,{'year':requested_year-1 , 'month': 12 }) }}"> &larr; {{ requested_year - 1}} </a></b></li>
        {% for month in  months_of_year %}
            {% set month_nb = month | date('m') %}
            {% if  month_nb == requested_month  %}
                <li class="active"><span>{{ month | localeDate('medium','none',null,'MMMM') }}</span></li>
            {% else %}
                <li><a href="{{ path( currentPath ,{'year':requested_year , 'month': month_nb }) }}">{{ month | localeDate('medium','none',null,'MMMM') }}</a></li>
            {% endif %}
        {% endfor %}
            <li><b><a href="{{ path(currentPath,{'year':requested_year+1 , 'month': 1 }) }}"> {{ requested_year + 1}} &rarr;</a></b></li>
        </ul>
    </div>

    <br>
   


