{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}
   
    {% set title=''  %}
    {% set message='Désolé.' %}
    {% set link='' %}
    {% set link_message=''%}
        
       <center>
    
        {% if ("now" |date("Y")) == year %}
            {% set title='Aucune photo n\'a été publiée cette année.'  %}
            {% set message='Publiez simplement un post avec photo pour démarrer l\'album automatique.' %}
            {% set link=path('new_post') %}
            {% set link_message='Rédiger un post' %}
        {% else %}
            {% set title='Aucune photo n\'a été publiée durant l\'année '~year~'.'  %}
            {% set link=path('albums') %}
            {% set link_message='Aller à l\'album de l\'année en cours'%}
            {% if ("now" |date("Y")) < year %}
                {% set message='Patience, nous ne sommes qu\'en '~("now" |date("Y"))~'.' %}
            {% endif %}
        {% endif %}
        
        
        <div class="row" style="padding-top:50px">
        <center>
            <img src="{{asset('css/icons/camera.png')}}"/>
            
            <div>
              <h2>
                {{ title }}<br>
                <small>{{ message }}</small>
              </h2>
            </div>
            {% if link %}
                <br>
                <a class="btn btn-inverse" href="{{link}}">
                    {{link_message}} »
                </a>
            {% endif %}
            
        </center>
    </div>
    
    </center>
        
{% endblock %}

{% block footer %}
    
    <div class="block-far"></div>
    {{ parent() }}
    
{% endblock %}
