{% extends 'InouireMininetBundle:Default:headerPosts.html.twig' %}

{% block posts %}
   
    <center>
    
        {% set current_year = ("now" |date("Y")) %}
        {% set current_month = ("now" |date("m")) %}
        
        {% set title='Aucun post n\'a été publié en '~(requested_date | localeDate('medium','none',null,'MMMM YYYY'))  %}
        {% set message='' %}
        {% set link=path('archives') %}
        {% set link_message='Aller aux archives du mois en cours'%}
        
        {% if current_year == requested_year %}
            {% if current_month == requested_month %}
                {% set title = 'Aucun post n\'a été publié ce mois-ci.' %}
                {% set message='Allez hop, au boulot !' %}
                {% set link_message='Ajouter des nouvelles' %}
                {% set link= path('new_post') %}
            {% elseif current_month > requested_month %}
                {% set title = 'Aucun post n\'a été publié en '~ (requested_date | localeDate('medium','none',null,'MMMM')) ~ '.' %}
                {% set message='Peut être que le mini-net n\'était pas encore installé à ce moment là ?' %}
            {% elseif current_month < requested_month %}
                {% set title = 'Aucun post n\'a été publié en '~ (requested_date | localeDate('medium','none',null,'MMMM')) ~ '.' %}
                {% set message='Mais bon, d\'un autre coté c\'est dans le futur.' %}
            {% endif %}
        {% elseif current_year > requested_year %}
            {% set title = 'Aucun post n\'a été publié en '~ (requested_date | localeDate('medium','none',null,'MMMM YYYY')) ~ '.' %}
            {% set message='Peut être que le mini-net n\'était pas encore installé à ce moment là ?' %}
        {% elseif current_year < requested_year %}
            {% set title = 'Aucun post n\'a été publié en '~ (requested_date | localeDate('medium','none',null,'MMMM YYYY')) ~ '.' %}
            {% set message='Mais bon, d\'un autre coté on est encore qu\'en '~current_year~'.' %}
        {% endif %}     
        
    
    <div class="row" style="padding-top:50px">
        <center>
            <img src="{{asset('css/icons/package.png')}}"/>
            
            <div>
              <h2>
                {{ title }}<br>
                <small>{{ message }}</small>
              </h2>
            </div>
            {% if link %}
                <a class="btn btn-inverse" href="{{link}}">
                    {{link_message}} »
                </a>
            {% endif %}
            
        </center>
    </div>
        
    </center>
        
{% endblock %}

{% block footer %}
    
    <div class="block-far"></div>
    {{ parent() }}
    
{% endblock %}
