{% extends 'InouireMininetBundle:Default:headerPosts.html.twig' %}

{% block posts %}
   
    <center>
    
		{% set current_year = ("now" |date("Y")) %}
		{% set current_month = ("now" |date("m")) %}
		
		{% if current_year == requested_year %}
			{% if current_month == requested_month %}
				<h3>Aucun post n'a été publié ce mois-çi.</h3>
				<h4>Ah ouais qu'est ce qu'on attend !.</h4>
			{% elseif current_month > requested_month %}
				<h3>Aucun post n'a été publié en {{ requested_date | localeDate('medium','none',null,'MMMM') }}.</h3>
				<h4>Désolé.</h4>
			{% elseif current_month < requested_month %}
				<h3>Aucun post n'a été publié en {{ requested_date | localeDate('medium','none',null,'MMMM') }}.</h3>
				<h4>En même temps on n'y est pas encore.</h4>
			{% endif %}
		{% elseif current_year > requested_year %}
			<h3>Aucun post n'a été publié en {{ requested_date | localeDate('medium','none',null,'MMMM YYYY') }}.</h3>
			<h4>Désolé.</h4>
		{% elseif current_year < requested_year %}
			<h3>Aucun post n'a été publié en {{ requested_date | localeDate('medium','none',null,'MMMM YYYY') }}.</h3>
			<h4>En même temps on n'est pas encore en {{requested_year}}.</h4>
        {% endif %}		
		
    </center>
        
{% endblock %}

