{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block title %} invitations{% endblock %}

{% block body %}
        
    <center><h2 class="admin">Invitations</h2></center>
    
    <br>
        
    {{ form_start(form, {'attr' :{'class': 'form-search', 'style':'text-align:center'} }) }}
    <!--<form class="form-search" style="text-align:center" method="POST">-->
        {{ form_widget(form.email, {'attr': {'class':'input-big search-query','style':'font-size:1.3em'} }) }}
        {{ form_widget(form.send, {'attr': {'class':'btn btn-primary'} }) }}
        <!--<input class="btn btn-inverse" type="submit" value="{{ 'registration.submit'|trans }}" />-->
    {{ form_end(form) }}
    
    
    <br>
    
    <center>
    {% for invitation in invitations %}
        {{invitation.email}} / {{invitation.status}}<br>
    {% endfor %}
    </center>
    
    {% include 'InouireMininetBundle:Default:blankBlock.html.twig' %}

{% endblock %}
