{% trans_default_domain 'FOSUserBundle' %}

<img src="{{asset('css/icons/persona.png')}}"/>
<h1>
    <small>Modifier mon profil</small>
</h1>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <input class="btn btn-inverse" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</form>
